---
import type { GetStaticPathsOptions } from "astro";

import Layout from "@layouts/Layout.astro";
import { queryBlogs } from '@utils';
import BlogCard from "@components/features/blog/BlogCard.astro";
import Pagination from '@components/Pagination.astro';

// 1ページに表示する件数を設定
export const postsPerPage = 16;

// getStaticPaths()で動的なルートを設定
export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const blogs = await queryBlogs({ sortBy: 'date' });

    // 並び替えた投稿の配列から、1ページにX記事づつ入るようにページを生成
    return paginate(blogs, { pageSize: postsPerPage });
}

// paginate()関数を使用すると、各ページのデータはpageプロパティとして渡される
const { page } = Astro.props;
---

<Layout>
    <Fragment slot="head">
        <title>
            {Astro.props.page.currentPage}ページ目 | 情報研究会 CACTUS
        </title>
    </Fragment>
    <div class="body">
        <h1>Blog</h1>
        <h2>{page.currentPage}ページ</h2>
        <div class="card-container">
            {
                page.data.map(({ data, slug }) => (
                    <BlogCard slug={slug} blog={data} />
                ))
            }
        </div>
        <Pagination page={page} baseUrl="/blog" />
    </div>
</Layout>

<style>
    .body {
        margin: 0 auto;
        max-width: 950px;
        padding: 0 0.5rem;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 1rem;
    }
</style>
