---
import { getCollection } from "astro:content";
import type { GetStaticPathsOptions } from "astro";

import Layout from "@layouts/Layout.astro";
import BlogCard from "@components/features/blog/BlogCard.astro";
import { queryBlogs } from '@utils';

// 1ページに表示する件数を設定
export const postsPerPage = 16;

// getStaticPaths()で動的なルートを設定
export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const blogs = await queryBlogs({ sortBy: 'date' });

    // 並び替えた投稿の配列から、1ページにX記事づつ入るようにページを生成
    return paginate(blogs, { pageSize: postsPerPage });
}

// paginate()関数を使用すると、各ページのデータはpageプロパティとして渡される
// console.log(Astro.props.page.currentPage);
const { page } = Astro.props;
---

<Layout>
    <Fragment slot="head">
        <title>
            {Astro.props.page.currentPage}ページ目 | 情報研究会 CACTUS
        </title>
    </Fragment>
    <div class="body">
        <h1>Blog</h1>
        <a href="/blog/authors"><h2>[test] authors</h2></a>
        <h2>{page.currentPage}ページ</h2>
        {
            page.data.map(({ data, slug }) => (
                <>
                    <BlogCard
                        title={data.title}
                        coverImage={data.coverImage}
                        slug={slug}
                    />
                </>
            ))
        }
        <div class="pagination-nav">
            {page.url.prev ? <a href={page.url.prev}>＜</a> : null}
            {page.url.next ? <a href={page.url.next}>＞</a> : null}
        </div>
    </div>
</Layout>

<style>
    .body {
        margin: 0 auto;
        max-width: 800px;
        min-height: 100vh;
        padding: 1rem;
    }

    .pagination-nav {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
    }
</style>
