---
import { Image } from 'astro:assets';
import type { BlogSchema } from '@config';
import { formatDate } from '@utils';

import noimage from '@assets/noimage.png';

interface Props {
    slug: string;
    blog: BlogSchema;
}

const { blog, slug } = Astro.props;

const coverImage = blog.coverImage ?? noimage;
const date = blog.updated ?? blog.pubdate;
---

<div class="card">
    <a href={`/blog/${slug}`} aria-label={blog.title} class="card-link">
        <div class="cover-image">
            <Image src={coverImage} alt="cover image" />
        </div>
        <div class="card-body">
            <div class="title">
                <h2>{blog.title}</h2>
            </div>
            <div class="meta">
                <div class="tags">
                    {blog.tags.map((tag) => (
                        <span>#{tag}</span>
                    ))}
                </div>
                <div class="date">
                    <time datetime={date.toISOString()}>
                        {formatDate(date)}
                    </time>
                </div>
            </div>
        </div>
    </a>
</div>

<style>
    .card {
        display: flex;
        flex-direction: column;
        border: 1px solid #e5e7eb;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        overflow: hidden; /* 画像がはみ出さないように */
        flex-grow: 1;
    }

    a {
        text-decoration: none;
        color: #111827;
    }

    .card-link {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .cover-image {
        border-bottom: 1px solid #e5e7eb;
        aspect-ratio: 16 / 9;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .cover-image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
        border-radius: inherit;
    }
    
    .card-body {
        display: flex;
        flex-direction: column;
        padding: 10px;
        flex-grow: 1;
    }

    .title h2 {
        margin: 0;
        font-size: 1.3em;
    }

    .meta {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 0.3rem;
    }

    .tags {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        font-size: 0.9em;
    }

    .date {
        font-size: 0.75em;
        color: #6b7280;
        text-align: right;
    }

    @media (max-width: 768px) {        
        .title h2 {
            font-size: 1.1em;
        }

        .tags {
            font-size: 0.8em;
        }

        .date {
            font-size: 0.7em;
        }
    }
</style>
