---
import Layout from "@layouts/Layout.astro";

import { sortedblogEntriesList } from "@utils";
import BlogCard from "@components/features/blog/BlogCard.astro";

export async function getStaticPaths() {
    const sortedBlogEntries = sortedblogEntriesList;

    const uniqueTags: string[] = [
        ...new Set(sortedBlogEntries.flatMap((blog) => blog.data.tags)),
    ];

    return uniqueTags.map((tag) => {
        const filteredBlog = sortedBlogEntries.filter((blog) =>
            blog.data.tags.includes(tag),
        );
        return {
            params: { tag },
            props: { blog: filteredBlog },
        };
    });
}

// 記事の中にタグが含まれていないとから文字列を渡してしまい，エラーになるので，その対策が必要

const { tag } = Astro.params;
const { blog } = Astro.props;
---

<Layout>
    <Fragment slot="head">
        <title>{tag}の記事 | 情報研究会 CACTUS</title>
        <meta property="og:type" content="article" />
    </Fragment>
    <div class="body">
        <h1>Blog</h1>
        <a href="/blog/tags">タグ一覧へ</a>
        <p>#{tag} のタグが付いた記事</p>
        <div>
            {
                blog.map((blogEntry) => (
                    <div>
                        <a href={`/blog/${blogEntry.slug}`}>
                            <div>
                                <BlogCard
                                    title={blogEntry.data.title}
                                    coverImage={blogEntry.data.coverImage}
                                    slug={blogEntry.slug}
                                />
                            </div>
                        </a>
                    </div>
                ))
            }
        </div>
    </div>
</Layout>

<style>
    .body {
        margin: 0 auto;
        max-width: 800px;
        padding: 1rem;
    }

    svg {
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
    }
</style>
