---
import Layout from './Layout.astro';
import BlogHeader from '@components/features/header/BlogHeader.astro';
import ReturnButton from '@components/ReturnButton.astro';

import type { MarkdownHeading } from 'astro';
import type { BlogSchema } from '@config';

import noimage from '@assets/noimage.png';

interface Props {
    frontmatter: BlogSchema;
    headings: MarkdownHeading[];
}

const { frontmatter } = Astro.props;

const minHeadingDepth = Math.min(...Astro.props.headings.map((heading) => heading.depth));
const headings = Astro.props.headings
    .filter((heading) => heading.depth <= 3)
    .map((heading) => ({
        ...heading,
        relativeDepth: heading.depth - minHeadingDepth, // ネストの深さを調節
    }));
---

<Layout title={`${frontmatter.title} | 情報研究会 CACTUS`}>
    <Fragment slot="head">
        <meta property="og:type" content="article" />
        <meta property="og:title" content={frontmatter.title} />
        <meta property="og:image" content={frontmatter.coverImage?.src ?? noimage.src} />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={frontmatter.title} />
        <meta name="twitter:image" content={frontmatter.coverImage?.src ?? noimage.src} />
    </Fragment>
    
    <article>
        <div class="body" id="top">
            <div class="header">
                <BlogHeader frontmatter={frontmatter} />
            </div>
            
            <div class="content">
                <slot />
            </div>
            
            <div class="footer">
                <ReturnButton href="/blog">ブログ一覧へ</ReturnButton>
            </div>
        </div>

        <div class="sidebar">
            <a href="#top">
                <span>目次</span>
            </a>
            <ul>
                {headings.map((heading) => (
                    <li class={`m${heading.relativeDepth}`}>
                        <a href={`#${heading.slug}`}>{heading.text}</a>
                    </li>
                ))}
            </ul>
        </div>
    </article>
</Layout>

<style>
    body {
        background-color: #f6f6f6;
    }
    
    article {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: flex-start;
    }
    
    .body {
        flex-grow: 1;
        max-width: 950px;
        background-color: white;
        padding: 32px 56px;
        border-radius: 10px;
    }
    
    .sidebar {
        flex: 0 0 250px;
        position: sticky;
        top: 2rem;
        height: fit-content;
        padding: 32px 16px;
    }

    .sidebar span {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .sidebar h2 {
        font-size: 1.2rem;
        margin: 0;
        color: rgb(68, 68, 68);
    }

    .sidebar ul {
        list-style: none;
        padding: 0;
    }

    .sidebar li {
        margin-bottom: 4px;
    }
    
    .sidebar a {
        display: block;
        width: 100%;
        color: rgb(95, 95, 95);
        text-decoration: none;
        padding: 3px 6px;
        border-radius: 4px;
        font-size: 0.9rem;
    }

    .sidebar a:hover {
        background-color: #f0f0f0;
    }

    .header {
        margin-bottom: 1rem;
    }

    .footer {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }


    /* markdownの中身のスタイル */
    
    .content :global(h1) {
        margin: .8em 0;
        font-size: 1.65em;
        padding-bottom: .3em;
        border-bottom: 1px solid #d3d3d3;
    }

    .content :global(img) {
        max-width: 100%;
        height: auto;
        max-height: 600px;
        object-fit: contain;
        display: block;
        margin: 0 auto;
    }

    .content :global(figcaption) {
        text-align: center;
        margin-top: -0.5rem;
    }

    .content :global(code) {
        /* padding: 10px; */
    }

    .content :global(a) {
        color: #0070f3;
        text-decoration: none;
    }

    .content :global(a:hover) {
        text-decoration: underline;
    }

    .m1 { margin-left: 1em; }
    .m2 { margin-left: 2em; }

    @media (max-width: 1200px) {
        .body {
            padding: 24px;
            box-sizing: border-box;
            max-width: 100%;
            overflow-x: hidden;
        }
    }

    @media (max-width: 950px) {
        body {
            background-color: inherit;
        }
        
        article {
            flex-direction: column;
            max-width: 100%;
        }

        .body {
            width: 100%;
            padding: 0;
        }

        .sidebar {
            display: none;
        }
    }
</style>
