---
import { Image } from "astro:assets";

const { frontmatter } = Astro.props;
const pubDate = new Date(frontmatter.pubdate);

const pubDateYear = pubDate.getFullYear();
const pubDateMonth = pubDate.getMonth() + 1;
const pubDateDay = pubDate.getDate();

const formattedYear = String(pubDateYear).padStart(4, "0");
const formattedMonth = String(pubDateMonth).padStart(2, "0");
const formattedDay = String(pubDateDay).padStart(2, "0");
const formattedDate = `${formattedYear}${formattedMonth}${formattedDay}`;

const coverImage: string = frontmatter.coverImage;
const authors: string[] = frontmatter.authors;
const category: string = frontmatter.categories;
const tags: string[] = frontmatter.tags;
---

<div class="content">
    <!-- BACKBUTTON -->
    <div class="back-button">
        <a href="/blog">
            <p>ブログ一覧へ</p>
        </a>
    </div>

    <!-- COVERIMAGE -->
    <div class="cover-image">
        <img src=`${coverImage}` alt="cover" />
        <!-- {coverImage} -->
    </div>
    <!-- TITLE -->
    <div class="blog-title">
        <h1>{frontmatter.title}</h1>
    </div>

    <!-- DATEINFO -->
    <div class="pub-date">
        {pubDateYear}年{pubDateMonth}月{pubDateDay}日
    </div>

    <!-- AUTHOR -->
    <div class="author-container">
        <p>筆者</p>
        <div class="author-list">
            {
                authors.map((author: string) => (
                    <a href={`/blog/tag/${author}`}>
                        <div class="author-content">{author}</div>
                    </a>
                ))
            }
        </div>
    </div>

    <!-- CATEGORY -->
    <div class="category-content">
        <a href={`/blog/category/${category}`}>
            {category}
        </a>
    </div>

    <!-- TAGS -->
    <div>
        <div class="tag-container">
            {
                tags.map((tag: string) => (
                    <a href={`/blog/tags/${tag}`}>
                        <div class="tag-content">#{tag}</div>
                    </a>
                ))
            }
        </div>
    </div>

    <!-- CONTENT -->
    <div>
        <slot />
    </div>

    <!-- AUTHOR -->
    <div class="author-container">
        <div class="author-list">
            {
                authors.map((author: string) => (
                    <a href={`/blog/author/${author}`}>
                        <div class="author-content">{author}</div>
                    </a>
                ))
            }
        </div>
    </div>

    <!-- BACKBUTTON -->
    <div class="back-button">
        <a href="/blog">
            <p>ブログ一覧へ</p>
        </a>
    </div>
</div>

<style>
    .content {
        margin: 0 auto;
        max-width: 800px;
        min-height: 100vh;
        padding: 1rem;
    }

    .cover-image {
        position: relative;
        max-width: 100%;
        height: auto;
    }

    .cover-image::before {
        content: ""; /* 疑似要素に必須 */
        width: 100%; /* 幅いっぱい */
        height: 100%; /* 高さいっぱい */
        display: block; /* 高さを指定するためにブロック要素にする */
        background: linear-gradient(
            rgba(255, 255, 255, 0) 0,
            #fff 80%
        ); /* 徐々に透明にする */
        position: absolute;
        top: 0;
        left: 0;
    }

    .content img {
        text-align: center;
        max-width: 100%;
        height: auto;
        /* max-width: 800px; */
    }
    .blog-title {
    }

    div {
        margin-bottom: 1rem;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .author-list {
        display: flex;
        gap: 0.5rem;
    }

    .author-content {
        background-color: #f0f0f0;
        padding: 0.5rem 1.5rem;
        border-radius: 100px;
    }

    .category-content {
        background-color: #f0f0f0;
        padding: 0.5rem 1.5rem;
        border-radius: 100px;
    }

    .tag-container {
        display: flex;
        gap: 0.5rem;
    }

    .tag-content {
        background-color: #ffffff;
        padding: 0.5rem 1.5rem;
        border: 2px solid;
        border-color: #4b8061;
        border-radius: 20px;
    }

    .tag-content:hover {
        background-color: #80a492;
        border-color: #80a492;
        color: #ffffff;
    }

    figcaption {
        text-align: center;
    }
</style>
